/random_100mb_file.bin
/random_10Gb_file.bin
/random_1000mb_file.bin
/random_10000mb_file.bin
/random_file_100mb.bin
/random_file_1000mb.bin
/random_file_20mb.bin
/random_file_100mb-1.bin
/file1.bin
/file2.bin
.aider*
